// [data-theme="default"] {
// 	--font-size: 16px;
//     --header-color: rgba(#e5eaf4, 0.25);
// 	--color-grey: #a9b1bd;
//     --color-blue: #11b0c8;
// }

$font-size: 16px;
$color-white: #ffffff;
$color-light-grey: #e5eaf4;
$color-grey: #a9b1bd;
$color-blue: #11b0c8;
$header-color: rgba($color-light-grey, 0.25);