{
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "vueIndentScriptAndStyle": true,
  "singleAttributePerLine": true,
  "trailingComma": "none"
}
